@import url(reset.css);
@import url(config.css);

body {
  display: grid;
  place-content: center;
  margin: 1.5rem;
  font-size: 1rem;
  font-family: var(--ff-default);
  font-weight: var(--fw-bold);
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.order {
  --order-padding: 2rem;
  background-color: var(--clr-neutral-100);
  border-radius: .5rem;
  overflow: hidden;
  max-width: 480px;
  min-width: 350px;
}

.order__details {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .875rem 0;
}

.order__img {
  max-width: 480px;
}

.order__img img {
  width: 100%;
}

.order__content {
  padding: var(--order-padding);
  display: grid;
  gap: 2rem;
}

.order__title {
  text-align: center;
  font-weight: var(--fw-bold);
}

.order__description {
  font-size: var(--fs-group);
  font-weight: var(--fw-black);
  color: var(--clr-neutral-400);
  letter-spacing: 1.1px;
  text-align: center
}

.flex-group {
  background-color: var(--clr-primary-400);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: .5rem;
  font-size: var(--fs-group);
}

.flex-group a {
  color: var(--clr-primary-700);
  font-weight: var(--fw-black);
}

.flex-plan {
  display: flex;
  flex-direction: column;
}

.flex-plan p {
  font-weight: var(--fw-black);
}

.flex-plan span {
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
}

.buttons-wrap {
  display: grid;
}

.btn {
  border: none;
  padding: .87rem 2.5rem;
  font-size: var(--fs-group);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.btn-payment {
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  border-radius: .5rem;
  box-shadow: .3rem 1rem 1rem var(--clr-primary-400);
}

.btn-cancel {
  background: none;
  color: var(--clr-neutral-400);
}